<ons-page ng-controller="ContactController">
    
    <ons-toolbar>
    <div class="left"><ons-back-button>Back</ons-back-button></div>
    <div class="center">Leasing</div>
     <div class="right">
    <ons-toolbar-button onclick="ons.slidingMenu.toggleMenu()">
       <ons-icon icon="bars">
    </ons-toolbar-button>
    </div>
    </ons-toolbar>
     <p class="paddingall"><strong>Budget Car & Van Rental UAE</strong> offers leasing packages to corporate companies and private individuals, delivering tailored fleet solutions to many leading organizations throughout the UAE. Our aim is to satisfy all our clients’ fleet requirements through pro-active management, highly competitive rates and provide a professional service at all times.
     
     </p>
     <p class="paddingall">Contact: +971 4 884 0022 or E-Mail:  leasing@budget-uae.com</p>
    <section style="padding: 10px">
        
         <input type="text" class="text-input" placeholder="Name" ng-model="subject" style="width:100%; margin-bottom:10px;">
          <input type="text" class="text-input" placeholder="Email" ng-model="subject" style="width:100%; margin-bottom:10px;">

        <input type="text" class="text-input" placeholder="Mobile" ng-model="subject" style="width:100%; margin-bottom:10px;">

        <textarea class="textarea" rows="10" placeholder="Comments" ng-model="message" style="width:100%; margin-bottom:10px;"></textarea>

        <ons-button modifier="large" ng-click="submitForm()">
        Send Enquiry
        </ons-button>
    </section>  

</ons-page>