<ons-page ng-controller="LocationController">
    
    <ons-toolbar>
    <div class="left"><ons-back-button>Back</ons-back-button></div>
    <div class="center">Our Locations</div>
    <div class="right">
    <ons-toolbar-button onclick="ons.slidingMenu.toggleMenu()">
       <ons-icon icon="bars">
    </ons-toolbar-button>
    </div>
    </ons-toolbar>
    <div class="loading_up"><ons-icon icon="spinner" spin="true"></ons-icon></div>
    <section style="padding: 10px;">
       <div ng-repeat="location in locations">
        <ons-row style="padding: 3px;">
            <ons-col>
                <h4 class="loctitle" ng-bind-html="location.city" ng-click="showDetail($index)"></h4>
               <div ng-repeat="scity in location.citylist">
                 <p><strong>{{scity.locationname}}</strong></p>
                 <p>{{scity.address}}</p>
                 <div class="locationn-item"><span class="title">{{scity.email ? 'Email:' : ''}}</span> {{scity.email}}</div>
                 <div class="locationn-item"><span class="title">{{scity.phone ? 'Landline:' : ''}}</span> {{scity.phone}}</div>
                 <div class="locationn-item"><span class="title">{{scity.mobile ? 'Mobile:' : ''}}</span> {{scity.mobile}}</div>
                 <div class="locationn-item"><span class="title">{{scity.fax ? 'Fax:' : ''}}</span> {{scity.fax}}</div>
                </div>
            </ons-col>
        </ons-row>
        
    
        </div>
        
    </section>
    <ons-bottom-toolbar >
       <ons-toolbar-button style="text-align:center;" ng-click="ons.navigator.pushPage('map.html')">View as Map</ons-toolbar-button>
    </ons-bottom-toolbar>
</ons-page>